body{
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}
nav.header{
    display: flex;
    justify-content: space-around;
}
.formContainer{
    margin: 1rem auto;
}
.formClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    padding: 2rem;
    margin: 3rem auto;
}
.formClass > *{
    margin: .3rem;
    text-align: center;
}
#displayGrid{
    display: grid;
    gap: 4px;
}
.grid-elements{
    text-align: center;
    border: 2px solid grey;
}
.pagination{
    text-align: center;
    justify-content: center;
}
#paginationData{
    display: flex;
    justify-content: center;
}
.paginatedDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    margin: .4rem;
    padding: .2rem;
    border: 3px solid grey;
    height: 20rem;
}
.postDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: .4rem auto;
    padding: .2rem;
    text-align: center;
    width: 14rem;
}
.postDiv > *{
    margin: .1em;
    padding: .2em;
    border-radius: .4rem;
    border: none;
    text-align: center;
}
.postForm{
    
}
.pageImage{
    height: 80%;
    /* width: 100px; */
}